<div class=creditos>
@{
    ViewBag.Title = "creditos";
}
<div class="creditoss">
<h1>Créditos</h1>
<h2>Equipo de Desarrollo</h2>
<ul>
    <li>
        <img src="\Imagenes\Szabo.jpg" alt="Integrante 1">
        <p>Matias Szabo - Rol: Desarrollador</p>
    </li>
    
    <li>
        <img src="\Imagenes\Fefi.jpg" alt="Integrante 2">
        <p>Federico Biderman - Rol: Diseñador</p>
    </li>

    <li>
        <img src="\Imagenes\Giraudi.jpg" alt="Integrante 3">
        <p>Facundo Giraudi - Rol: Desarrollador</p>
    </li>
</ul>
</div>
</div>
