@{
    ViewBag.Title = "Créditos";
}

<h1>Créditos</h1>

<h2>Equipo de Desarrollo</h2>
<ul>
    <li>
        <img src="ruta_imagen1" alt="Integrante 1">
        <p>Nombre Integrante 1 - Rol: Desarrollador</p>
    </li>
    <li>
        <img src="ruta_imagen2" alt="Integrante 2">
        <p>Nombre Integrante 2 - Rol: Diseñador</p>
    </li>
</ul>