@{
    ViewBag.Title = "Habitación X";
}
<div class="habitacion1">
<div class="titulohabitacion1">
<h1>Habitación 1</h1>
<h2>Mundial Mexico 1986</h2>
<p>Se encuentran en una habitación que representa el famoso Mundial del 1986 y como la gran Argentina comandada por su capitan, Diego Armando Maradona, alzaron la gloria. Deben encontrar el nombre de uno de los maximos referentes de ese equipo que quedara guardado en la historia.</p>
</div>
    <form method="post" action='@Url.Action("habitacionX", "Home")'>
    <label for="clave">Clave:</label>
    <input type="text" id="clave" name="clave">
    <input type="hidden" id="sala" value="1">
    <button type="submit">VALIDAR</button>
    <button onclick="alert('Con estrategia y picardía me guió, en México 86 mi gloria encontró. Con Diego a mi lado, el título logré,enfrentando rivales sin temer.')">Adivinanza</button>
    <button onclick="alert('Esto no tiene bebida alcoholica señora, tiene gatorei')">Pista 1</button>
    <button onclick="alert('¿Quién soy yo en la historia del fútbol,el técnico que triunfó en un Mundial?Si piensas en el pasado con devoción,descubrirás mi nombre en esta ocasión.')">Pista 2</button>
</form>
</div>


<!-- Habitación 1: "El Gol del Siglo"
Descripción: Los jugadores se encuentran en una habitación que representa el famoso gol de Diego Maradona en el Mundial de 1986. La habitación está decorada con imágenes y objetos relacionados con ese momento histórico, como la camiseta de Argentina y el balón utilizado en ese partido. Los jugadores deben encontrar pistas y resolver acertijos relacionados con ese gol icónico para avanzar a la siguiente habitación.

Habitación 2: "El Milagro de Berna"
Descripción: Esta habitación está ambientada en el Mundial de 1954, conocido por la sorprendente victoria de la selección alemana ante Hungría en la final. La habitación está decorada con elementos de la época, como periódicos antiguos y fotografías de los jugadores. Los jugadores deben resolver enigmas relacionados con este emocionante evento para avanzar.

Habitación 3: "El Maracanazo"
Descripción: La habitación representa el histórico partido entre Uruguay y Brasil en la final del Mundial de 1950, conocido como el "Maracanazo". La sala está decorada con elementos relacionados con el estadio Maracaná y la rivalidad entre ambos equipos. Los jugadores deben resolver desafíos relacionados con este trascendental encuentro para continuar. -->
