@{
    ViewBag.Title = "Habitación X";
}

<h1>Habitación X</h1>

<h2>Título de la Habitación</h2>
<p>Texto relatando lo que se encuentra en la sala y lo que hay que hacer</p>

<img src="ruta_imagen" alt="Elemento Multimedia">

    <form action="@Url.Action("Validar", "Juego", new { habitacion = "X" })" method="post">
    <label for="clave">Clave:</label>
    <input type="text" id="clave" name="clave">

    <button type="submit">VALIDAR</button>

    <button onclick="alert('Pista 1: Mirá las paredes...')">Pista 1</button>
    <button onclick="alert('Pista 2: Busca en el suelo...')">Pista 2</button>
</form>



<!-- Habitación 1: "El Gol del Siglo"
Descripción: Los jugadores se encuentran en una habitación que representa el famoso gol de Diego Maradona en el Mundial de 1986. La habitación está decorada con imágenes y objetos relacionados con ese momento histórico, como la camiseta de Argentina y el balón utilizado en ese partido. Los jugadores deben encontrar pistas y resolver acertijos relacionados con ese gol icónico para avanzar a la siguiente habitación.

Habitación 2: "El Milagro de Berna"
Descripción: Esta habitación está ambientada en el Mundial de 1954, conocido por la sorprendente victoria de la selección alemana ante Hungría en la final. La habitación está decorada con elementos de la época, como periódicos antiguos y fotografías de los jugadores. Los jugadores deben resolver enigmas relacionados con este emocionante evento para avanzar.

Habitación 3: "El Maracanazo"
Descripción: La habitación representa el histórico partido entre Uruguay y Brasil en la final del Mundial de 1950, conocido como el "Maracanazo". La sala está decorada con elementos relacionados con el estadio Maracaná y la rivalidad entre ambos equipos. Los jugadores deben resolver desafíos relacionados con este trascendental encuentro para continuar. -->
