@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b><u>Bienvenido a WCER</u></b></h1>
    <a href='@Url.Action("Tutorial", "home")'>Como se juega?</a>
</div>
