@{
    ViewData["Title"] = "Sala inicio";
}

<div class="text-center">
    <h1 class="display-4"><b><u>Bienvenido a WCER</u></b></h1>
    <img src="./Imagenes/Logo.png" alt="Logo">
    <p>"¡Desafía el tiempo y descubre los secretos de los Mundiales en nuestra sala de escape futbolística!"</p>
    
    <h2>Imágenes Descriptivas</h2>
    <img src="\Imagenes\Imagendescriptiva1.jpg" alt="Imagen Descriptiva 1">
    <img src="\Imagenes\Imagendescriptiva2.jpg" alt="Imagen Descriptiva 2">

    <h2>Enlaces</h2>
    <ul>
        <li><a href='@Url.Action("Tutorial", "home")'>Como se juega?</a></li>
        <li><a href='@Url.Action("Habitacion", "home")'>Arrancamos?</a></li>
        <li><a href='@Url.Action("creditos", "home")'>Quienes somos?</a></li>
</div>