@{
    ViewData["Title"] = "Sala inicio";
}

<div class="home">
    <div class="Inicio">
        <h1 class="display-4"><b><u>Bienvenido a WCER</u></b></h1>
        <img src="./Imagenes/Logo.png" alt="Logo">
        <h6><b><i>Un hombre puede cambiar todo en su vida, menos la pasion por este deporte</i></b></h6>    
            <h2>Imágenes Descriptivas</h2>
            <img src="\Imagenes\Imagendescriptiva1.jpg" alt="Imagen Descriptiva 1">
            <img src="\Imagenes\Imagendescriptiva2.jpg" alt="Imagen Descriptiva 2">
        <div class="enlaces">
            <h2>Enlaces</h2>
            <ul>
                <li><a href='@Url.Action("Tutorial", "home")'>Como se juega?</a></li>
                <li><a href='@Url.Action("Habitacion", "home")'>Arrancamos?</a></li>
                <li><a href='@Url.Action("creditos", "home")'>Quienes somos?</a></li>
            </ul>
        </div>
    </div>
</div>
