@{
    ViewBag.Title = "Tutorial";
}

<h1>Tutorial del Juego</h1>

<h2>Reseña</h2>
<p>Breve reseña explicando de qué trata la temática elegida.</p>

<h2>Imágenes del Juego</h2>
<img src="ruta_imagen1" alt="Imagen 1">
<img src="ruta_imagen2" alt="Imagen 2">
<img src="ruta_imagen3" alt="Imagen 3">

