<div class="tutorial">
    @{
        ViewBag.Title = "Tutorial";
    }
    <div class="tutorial1">
        <h1>Tutorial del Juego</h1>
    </div>
    <div class="tutorial2">
            <p>¡Prepárate para vivir la emoción de los Mundiales de Fútbol en nuestra Sala de Escape "El Camino al Mundial"! Desde los octavos de final hasta la gran final, te sumergirás en una aventura llena de desafíos y momentos históricos. Conviértete en parte de un equipo nacional y trabaja en conjunto para resolver enigmas, descifrar códigos y superar obstáculos estratégicos. Cada acertijo resuelto te acerca más a la gloria del campeonato. ¿Tienes lo necesario para salir victorioso y ganar el Mundial? El tiempo corre en tu contra, así que demuestra tu habilidad futbolística y lleva a tu equipo hacia la cima en esta emocionante Sala de Escape temática. ¡La gloria mundial está a solo unos pasos de distancia!.</p>
    </div>
    <div class="tutorial1">
        <h2>Imágenes del Juego</h2>
        <img src="\Imagenes\ImagenJuego1.jfif" alt="Imagen 1">
        <img src="\Imagenes\ImagenJuego2.jfif" alt="Imagen 2">
        <img src="\Imagenes\ImagenJuego3.jfif" alt="Imagen 3">
        <img src="\Imagenes\ImagenJuego4.jpg" alt="Imagen 4">
    </div>
    <a href='@Url.Action("Comenzar", "Home")' class="btn btn-primary">Vamos a Jugar?</a>

</div>