html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.container {max-width: 100%; padding: 0;}

.creditos{
  background-image: url(/Imagenes/Fondocreditos.jpg);
  padding: 100px;
  height: 100%;
  background-position:center;
  background-repeat:no-repeat;
}

.titulocreditos{
color:gold;
}

img
{
 width: auto;
 height: 175px;
}

.home{
  background-image:url(/Imagenes/FondoInicio.jpg);
  padding: 100px;
  height: 100%;
  background-position:inherit;
  background-repeat:no-repeat;
}

.Inicio{
  color:gold;
  padding: 100px;
}

.enlaces{
  float:right;
}

.tutorial{
  background-image:url(/Imagenes/FondoTutorial.jpg);
  padding: 100px;
  height: 100%;
  background-position:center;
  background-repeat:no-repeat;
}
.tutorial1{
  color:aqua;
}
.tutorial2{
  color:aliceblue;

}

p{
  color:aliceblue;
  background-color: rgba(46, 46, 46, 0.7)
}

li:hover
{
color:#eeff00;
}


.habitacion1
{
  background-image:url(/Imagenes/FondoSala1.jpg);
  padding: 100px;
  height: 100%;
  background-position:inherit;
  background-repeat:no-repeat;
}
.habitacion2
{
  background-image:url(/Imagenes/FondoSala2.jpg);
  padding: 100px;
  height: 100%;
  background-position:center;
  background-repeat:no-repeat;
}

.habitacion3
{
  background-image:url(/Imagenes/FondoSala3.jpg);
  padding: 100px;
  height: 100%;
  background-position:center;
  background-repeat:no-repeat;
}

.habitacion4
{
  background-image:url(/Imagenes/FondoSala4.jpg);
  padding: 100px;
  height: 100%;
  background-position:center;
  background-repeat:no-repeat;
}

h1, h2{
color:rgb(255, 251, 0);
}
h5, h6{
  color:#e9b118;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #b88c3bb4;
  overflow: hidden;
}|

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: rgba(151, 150, 78, 0.712);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #ffbb00e3;
}
ul li a
{
font-size:larger;
}

.victoria{
  background-image: url(/Imagenes/Ganador.jpg);
}

label{
  color:white;
}

main {width: 100%; height: 100%; height:calc(100vh - 82px)}